@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}
:root{
    /*Primary*/
    --Light_red: #ff5757;
    --Orangey_yellow: #ffb01f;
    --Green_teal: #00bd91;
    --Cobalt_blue: #1125d4;

    /*Gradients*/
    --Light_slate-blue: #7857ff;
    --Light_royal-blue: #2e2be9;

    --Violet-blue: #4e21ca;
    --Persian-blue: #2421ca00;

    /*Neutral*/
    --White: #ffffff;
    --Pale_blue: #ebf1ff;
    --Light_lavender: #c8c7ff;
    --Dark_gray_blue: #303b5a;
}
body, html{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:500px) {
    body{
        flex-direction: column;
    }
    main{
        flex-direction: column;
        width: 375px;
    }
    section{
        border-radius: 0 0 30px 30px;
    }

}

@media screen and (min-width: 501px) {
    body{
        flex-direction: row;
    }
    main{
        flex-direction: row;
        width: calc(375px * 2);
        border-radius: 30px;
    }
    section{
        justify-content: center;
        border-radius: 30px;
        width: 375px;
    }
    article{
        width: 375px;
    }
}

main{
    display: flex;
    border: 1px solid black;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 30px;

    background-image: linear-gradient(to bottom, var(--Light_slate-blue), var(--Light_royal-blue));
    color: #ffffffaf;
}
.result{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 150px;
    height: 150px;
    align-items: center;
    border-radius: 50%;

    background-image: linear-gradient(to top, var(--Persian-blue), var(--Violet-blue));

    color: #ffffff9c;
    font-size: 14px;
}
.result h2{
    color: #fff;
    font-size: 5em;
}
.txtinf{
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
}
.txtmsg{
    padding: 0 10px;
}

article{
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: 30px;
    font-weight: 700;
}
article h3{
    margin-bottom: 10px;
}
article div{
    display: flex;
    padding: 15px 10px;
    border-radius: 15px;
}
.second{
    padding-left: 10px;
    width: 190px;
}
.reaction{
    background-color: #ff57570f;
    color: var(--Light_red);
}
.memory{
    background-color: #ffb11f0f;
    color: var(--Orangey_yellow);
}
.verbal{
    background-color: #00bd910f;
    color: var(--Green_teal);
}
.visual{
    background-color: #2e2be90f;
    color: var(--Cobalt_blue);
}
.score{
    color: #1f387e90;
}
strong{
    color: #1f387ecc;
}

input{
    background-color: var(--Dark_gray_blue);
    padding: 15px;
    border-radius: 30px;
    color: var(--Pale_blue);
    margin-top: 10px;
    border: none;
    cursor: pointer;
}
input:hover{
    background-color: var(--Light_royal-blue);
}